@model List<DataAccess.Entities.Advert>

@{
    ViewData["Title"] = "Мій профіль";
}

<link rel="stylesheet" href="~/css/user-adverts.css" />

<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h4>@User.Identity.Name</h4>
        </div>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Adverts", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link">Вийти</button>
        </form>
    </div>
    <h2>Ваші оголошення</h2>
  
    <div class="row gap-3">
        @foreach (var i in Model)
        {
            <div class="product">
                <div class="info">
                    <div class="image">
                        <a asp-action="Advert" asp-route-id="@i.Id">
                            <img src="data:image/png;base64,@Convert.ToBase64String(i.ImageFile)" alt="advert-img">
                        </a>
                    </div>
                    <div class="wrapper">
                        <div class="name-price">    
                            <h4>@i.Name</h4>
                            <h5>@i.Price грн.</h5>
                        </div>
                        <div class="d-flex justify-content-between align-items-end h-100">
                            <div class="d-flex flex-column w-100">
                                <p>@i.Category.Name</p>
                                <div class="d-flex">
                                    <p>@i.Location&nbsp;</p>
                                    <p>-</p>
                                    <p>&nbsp;@i.Date</p>
                                </div>
                            </div>
                            <div class="actions">
                                <a asp-action="Edit" asp-route-id="@i.Id" class="btn">Редагувати</a>
                                <a asp-action="Delete" asp-route-id="@i.Id" class="btn">Деактивувати</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>